<!DOCTYPE html>
<html>
<head>
  <title>Trash2Cash - Rewards</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <nav class="navbar">
  <div class="nav-left">
    <div class="logo">Trash2Cash</div>
    <div class="nav-links" id="navMenu">
      <a href="/">Home</a>
      <% if (username) { %>
        <a href="/dashboard">Dashboard</a>
        <a href="/log-waste">Log Recycle Items</a>
        <a href="/rewards">View Rewards</a>
      <% } else { %>
        <a href="/login">Log Recycle Items</a>
        <a href="/login">Upload Photo</a>
        <a href="/login">View Rewards</a>
      <% } %>
    </div>
  </div>

<div class="nav-right">
  <% if (username) { %>
    <div class="dropdown">
      <span class="dropbtn">Welcome, <%= username %> ⌄</span>
      <div class="dropdown-content">
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
  <% } else { %>
    <div class="dropdown">
      <span class="dropbtn">Login ⌄</span>
      <div class="dropdown-content">
        <a href="/login">User Login</a>
        <a href="/admin-login">Admin Login</a>
      </div>
    </div>
    <a href="/register">Register</a>
  <% } %>
</div>
</nav>




<div class="container">
  <h2>Log a Recyclable Item</h2>
  <form action="/log-waste" method="POST">
    <!-- enctype="multipart/form-data"-->
    <label for="itemType">Item Type:</label>
    <select name="itemType" id="itemType" required>
      <option value="" disabled selected>Select item type</option>
      <option value="plastic_bottle">Plastic Bottle</option>
      <option value="glass_bottle">Glass Bottle</option>
      <option value="aluminium_can">Aluminium Can</option>
      <option value="paper">Paper</option>
      <option value="scrap_metal">Scrap Metal</option>
    </select>
    <input type="number" name="quantity" placeholder="Quantity" required min="1">
    <!-- <input type="file" name="photo" accept="image/*" required> -->
    <button type="submit">Submit</button>
  </form>
</div>

  <script>
  function toggleMenu() {
    const nav = document.getElementById('navMenu');
    nav.classList.toggle('show');
  }
</script>

</body>

</html>
